.by-price {

    margin-bottom: 100px;

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__tabs {
        display: flex;
        align-items: center;
        list-style-type: none;
        box-shadow: inset 0 -2px 0 0 #ced8dd;
        background: rgba(255, 255, 255, 0);
        padding-bottom: 2px;
        margin-bottom: 30px;
    }

    &__tab {
        padding: 15px 25px;
        cursor: pointer;
        font-weight: 800;
        font-size: 14px;
        line-height: 1.42857;
        text-align: center;
        color: var(--332e69);
        background-color: var(--white-color);
    }

    &__active-price-tab {
        background-color: var(--ced8dd);
    }

    &__tabs-content {
        margin-bottom: 40px;
    }

    &__btn-show-all {
        align-self: center;
        border-radius: 8px;
        padding: 16px 20px;
        border: none;
        background-color: var(--332e69);
        cursor: pointer;
        text-align: center;
        text-decoration: none;
    }

}