:root {
    --white-color: #fff;
    --ced8dd: #ced8dd;
    --332e69: #332e69;
    --070772: #070772;
    --f8f7fd: #f8f7fd;
    --e83657: #e83657;
    --150d2ce0: #150d2ce0;
    --100b34: #100b34;
    --ebf2f5: #ebf2f5;
    --f8fbfe: #f8fbfe;
    --150d2cb3: #150d2cb3;
    --babaa1: #babaa1;
}